/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo Page styles */
@import 'demo';
.hero {
    height: 646px;
}

.oldface {
    top:25%;
    right: 25%;

}

.stats {
    height: 723px;
}

.consult {
    // background-image: url("images/design/consult.png");
    height:300px;
}
.free-consult {
    padding-left: 112px;
    padding-top: 100px;
}
.just-one-call {
    padding-left: 112px;
    padding-top: 30px;
}
.get-consult {
    margin-left:1066px;
    
}

.building {
    padding-left: 528px;
}